<html>
<head>
	<title>Save Event Data.</title>
</head>
<form method="post" action="http://localhost/eureka-service/event/create">
	<h1>Create New Event</h1>
	Title - <input type="text" name="title" value="" /><br>
	Description - <input type="text" name="desc" value="" /><br>
	User ID - <input type="text" name="user_id" value="" /><br>
	Address 1 - <input type="text" name="add1" value="" /><br>
	Address 2 - <input type="text" name="add2" value="" /><br>
	City - <input type="text" name="city" value="" /><br>
	State - <input type="text" name="state" value="" /><br>
	Country - <input type="text" name="country" value="" /><br>
	Postal Code - <input type="text" name="zip_code" value="" /><br>
	Start Datetime - <input type="text" name="start_datetime" value="" /><br>
	End Datetime - <input type="text" name="end_datetime" value="" /><br>
	Longitude - <input type="text" name="longitude" value="" /><br>
	Latitude - <input type="text" name="latitude" value="" /><br>
	<input type="submit" value="Submit" />
</form>
</html>