<html>
<head>
	<title>Save User Data.</title>
</head>
<form method="post" action="http://localhost/eureka-service/user/create">
	<h1>Create New User</h1>
	UserId - <input type="text" name="userId" value="" /><br>
	First Name - <input type="text" name="firstName" value="" /><br>
	Last Name - <input type="text" name="lastName" value="" /><br>
	Email - <input type="text" name="email" value="" /><br>
	Password - <input type="password" name="password" value="" /><br>
	Visibility - <input type="text" name="visibility" value="1" /><br>
	<input type="submit" value="Submit" />
</form>
</html>